/* styles.css */

body {
    background-color: #f0f2f5; /* Couleur de fond de Facebook */
    font-family: Arial, sans-serif;/* Police de caractères */
    display: flex; /* Utiliser le modèle de boîte flex */
    justify-content: center; /* Centrer horizontalement */
    align-items: flex-start; /* Aligner en haut */
    padding: 20px; /* Ajouter un peu d'espace autour */
    flex-direction: column; /* Empile les éléments verticalement */
}

h1 {
    color: #1877f2; /* Couleur bleue de Facebook */
}

.message {/* Style du message */
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.lists-container { /* Conteneur des listes */
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espace entre les colonnes */
}

.excluded-countries, .wrong-countries {
    width: 45%;
    flex-grow: 1; /* Remplir l'espace */
}
